example/crypto_flow.json
[
    {
        "id": "be12d05c.b6bfa",
        "type": "tab",
        "label": "Crypto",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb18022a.ab67d",
        "type": "inject",
        "z": "be12d05c.b6bfa",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "d342a9b3.382798"
            ]
        ]
    },
    {
        "id": "b2066abd.4dbad8",
        "type": "debug",
        "z": "be12d05c.b6bfa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "d342a9b3.382798",
        "type": "function",
        "z": "be12d05c.b6bfa",
        "name": "",
        "func": "msg.key = \"-----BEGIN RSA PRIVATE KEY-----\\n\\\nMIIEpQIBAAKCAQEAthDhidETH3EUJ1ZRphDhTT2hiYW/mnBaWDkzML1KvHkUexEQ\\n\\\n/Z9TRdwQwKIyE72hlrtqpJ9kklXTx0XWL9K43TMbReRb5Z+P6dZzldfYUxrXhC+x\\n\\\nCnk8N7xBJ7FK9QNMkZwh9DZR5c6MSOaiqBQV4VGAv6DJG2Gz1mxP2vfWuYa/xrM6\\n\\\nrK2Oc0UZa/dbb6JVtuekTA9F06HlmFHdJ8dkqjqQa+NfpqPPu+gHH+jmPIwpoyS6\\n\\\nmgQx6n2B4FV9Jl6XjzsM5MGnGmiEv44/xTAy405VHRO+bySD5wjeOFJPgzELXQyp\\n\\\n0sg6C2se0rsqeG6n7Rx7khpEkVcENdFxv/GaLQIDAQABAoIBAQCJxFZVyc4VkaR1\\n\\\na7zW05kYsJUmkf19aJ0EeywAKox994UG5tAbik8h4rcOfO01wN2gSGsW7MHWdXmO\\n\\\nJYtAnsxiHUT66ySaqdXlVPAbp7u6juobzVbDHR/y8NHArkiRBBERcbrDp8LrCRNg\\n\\\nKp1UX/Z6jAjHeGwU+yZxD36Rq85gjY1vPGgteqDrxBBM97/716eeKzj9uSVSdZHt\\n\\\nJXB7A+CdtaevaPY7PBGp9tUVZyt7zZ6AcHvvtunLL+UhJPmwk2J5/kuoTRpCpM1E\\n\\\n9+59MJFV3x1Iwo3yQOKzkESJYWNa1egyDCdX3uC8o2hMcBuvZWy0BKLBGaRwc/D2\\n\\\nsQw1HQAFAoGBAOseAlLqtJLFGyZAYftlb+xdloYAmhnrjrRjIkMUR6NaxYtaEVEO\\n\\\ngiv96yeceSIQ2Cu7jDssPze8aEcDVQ7a+fNyNeP+etY3nB7jpYQHW9XtpF5Zmauu\\n\\\nrAA0RezYm6xVP3N3ScaUqvRD4i8AYoFVmntbaaZqwQ4gNf3gJO6Obr0DAoGBAMY8\\n\\\nnY9wEIVUPjyyGGslWNDsuvFzZatKrI9boI2l+bL7b2/5TUFiaBQnlW/ziceCxMhw\\n\\\nblC1qM3rJq6Jy96xqWA3wapa0f89Jw6viJhIFC+p+mqax1fNguv2buwEbh6snPQM\\n\\\ndJ2vyRLSB2q25YwsYNwZGh6hCR4wdGR+3k7OaS0PAoGAVEkvwBXPogXzE6Vk+sCE\\n\\\nfRGX0nYIyF3/jH81WyK8A72Yr7ocFxjCZY7jbBHWAvZS6GqVfOkByLNMFpkFNwwd\\n\\\nKr64vwENfBn3Z8NoJIqWy3wjvocUZc16b6BNqPiF5iOxWW1cD0pgdqyXOw5CQec0\\n\\\nOCCvIS+IAc5eTKK72qFI5Y0CgYEAjpVWtq7iEyQux7VJfveT1GIRbE2WGQhS6aH7\\n\\\n7yYsXaIf2ygzew3u0mBOSgGfXhMeuxSzI/Ylfkbewbd3HawnqX8xGvjMBovTpep3\\n\\\nkyB09HuMFFVTgEHfIx1TVwswsXtyQM8cqbagJ5tNnmIC5TmeSXD8qn8lccNkVEw0\\n\\\nVfZ9C90CgYEAurFae5qktwsS2I6CGFzm9Qh6uRBhRIvq/nrAko/WhPtO694vk29+\\n\\\nFuhqBdqMOVRWwWuGVFQUOvvdtlTGMIsuF7r82/0ddSLg7/UYkFQGN9dOY1VQQYMe\\n\\\nB4AK3aiHKbTgtNaYc8+a91QvAR04IODxnec8mot0m1qddfGF++Ls2jI=\\n\\\n-----END RSA PRIVATE KEY-----\";\nmsg.payload = {\"test\":\"ok\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5f76fe46.5321b"
            ]
        ]
    },
    {
        "id": "5f76fe46.5321b",
        "type": "encryptRSA",
        "z": "be12d05c.b6bfa",
        "name": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "b2066abd.4dbad8",
                "75ef4cb9.d5f824"
            ]
        ]
    },
    {
        "id": "9daaac74.637e7",
        "type": "decryptRSA",
        "z": "be12d05c.b6bfa",
        "name": "",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "4c9f7cd9.0f4e14",
                "3bf80bc0.66af74"
            ]
        ]
    },
    {
        "id": "75ef4cb9.d5f824",
        "type": "function",
        "z": "be12d05c.b6bfa",
        "name": "",
        "func": "msg.key = \"-----BEGIN PUBLIC KEY-----\\n\\\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAthDhidETH3EUJ1ZRphDh\\n\\\nTT2hiYW/mnBaWDkzML1KvHkUexEQ/Z9TRdwQwKIyE72hlrtqpJ9kklXTx0XWL9K4\\n\\\n3TMbReRb5Z+P6dZzldfYUxrXhC+xCnk8N7xBJ7FK9QNMkZwh9DZR5c6MSOaiqBQV\\n\\\n4VGAv6DJG2Gz1mxP2vfWuYa/xrM6rK2Oc0UZa/dbb6JVtuekTA9F06HlmFHdJ8dk\\n\\\nqjqQa+NfpqPPu+gHH+jmPIwpoyS6mgQx6n2B4FV9Jl6XjzsM5MGnGmiEv44/xTAy\\n\\\n405VHRO+bySD5wjeOFJPgzELXQyp0sg6C2se0rsqeG6n7Rx7khpEkVcENdFxv/Ga\\n\\\nLQIDAQAB\\n\\\n-----END PUBLIC KEY-----\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "9daaac74.637e7"
            ]
        ]
    },
    {
        "id": "3bf80bc0.66af74",
        "type": "debug",
        "z": "be12d05c.b6bfa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c9f7cd9.0f4e14",
        "type": "function",
        "z": "be12d05c.b6bfa",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "3bf80bc0.66af74"
            ]
        ]
    }
]